<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <jobs.windowsservice name="Jobs.WindowsService" displayname="Jobs.WindowsService" description="windows service that executes jobs.runner" xdt:Transform="Replace">
    <log name="Jobs.WindowsService" source="jobs.windowsservice" />
  </jobs.windowsservice>
</configuration>