<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="Description" value="The windows service that executes example jobs.runner" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="DisplayName" value="Example Job Runner Service" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
    <add key="ServiceName" value="Example Job Runner Service" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>
  <jobs.service xdt:Transform="Replace" >
    <log name="ExampleJobsServiceLog" source="ExampleJobService"/>
  </jobs.service>
  <jobs.runner>
    <pluginpaths>
      <add xdt:Transform="RemoveAll"/>
      <add name="example" folderpath="plugins\example" xdt:Transform="Insert"/>
    </pluginpaths>
  </jobs.runner>
  <jobs.runner.mail>
    <emailinfos>
      <add key="default" subject="Job Runner Unhandled Job Exception" xdt:Transform="Replace" xdt:Locator="Match(key)">
        <from address="jobrunner.example@katotek.com"/>
        <tos>
          <add address="alert@katotek.com"/>
        </tos>
      </add>
    </emailinfos>
  </jobs.runner.mail>
</configuration>