<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jobs.runner" type="JobRunner.Configuration.JobRunnerConfigurationSection, JobRunner" />
    <section name="jobs.service" type="JobsService.Configuration.JobsServiceConfigurationSection, JobsService" />
    <section name="jobs.service.mail" type="Encompass.Concepts.Mail.Configuration.Config, Encompass.Concepts"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Description" value="The windows service that executes jobs.runner"/>
    <add key="DisplayName" value="Jobs Runner Service"/>
    <add key="ServiceName" value="Jobs Runner Service"/>
  </appSettings>
  <jobs.service>
    <log name="JobsServiceLog" source="JobService" />
  </jobs.service>
  <jobs.runner>
    <pluginpaths>
      <add name="default" folderpath="plugins\default"/>
    </pluginpaths>
  </jobs.runner>
  <jobs.service.mail>
    <emailinfos>
      <add key="default" subject="Job Runner Unhandled Job Exception">
        <from address="jobrunner@katotek.com"/>
        <tos>
          <add address="alert@katotek.com"/>
        </tos>
      </add>
    </emailinfos>
  </jobs.service.mail>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.katotek.net" port="25" userName="user@katotek.com " password="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>