<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="jobs.runner" type="Jobs.Runner.Configuration.JobRunnerConfigurationSection, Jobs.Runner" />
    <section name="jobs.windowsservice" type="Jobs.WindowsService.Configuration.JobsServiceConfigurationSection, Jobs.WindowsService" />
    <section name="jobs.windowsservice.mail" type="Encompass.Concepts.Mail.Configuration.Config, Encompass.Concepts"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <jobs.windowsservice name="Jobs.WindowsService (debug)" displayname="Jobs.WindowsService (debug)" description="windows service that executes jobs.runner">
    <log name="Debug.Jobs.WindowsService" source="jobs.windowsservice.debug" />
  </jobs.windowsservice>
  <jobs.runner>
    <pluginpaths>
      <add name="default" folderpath="plugins\default"/>
    </pluginpaths>
  </jobs.runner>
  <jobs.windowsservice.mail>
    <emailinfos>
      <add key="default" subject="Jobs.Runner Unhandled Job Exception">
        <from address="jobs.runner@katotek.com"/>
        <tos>
          <add address="alert@katotek.com"/>
        </tos>
      </add>
    </emailinfos>
  </jobs.windowsservice.mail>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.katotek.net" port="25" userName="user@katotek.com " password="" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>