<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KatoTek.Encompass.Concepts" version="3.12.16.319" targetFramework="net45" />
  <package id="KatoTek.Encompass.Simple" version="8.1.16.421" targetFramework="net45" />
  <package id="KatoTek.Jobs.Runner" version="6.5.16.504" targetFramework="net45" />
  <package id="SlowCheetah" version="2.5.15" targetFramework="net45" />
</packages>