<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="JobSchedulerConnection" connectionString="data source=mktsqltest\dev;initial catalog=FSS;persist security info=True;user id=FSSHost;password=d0n4FSSup" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>