<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="KatoTek.Encompass.Simple" version="8.1.16.421" targetFramework="net45" />
  <package id="KatoTek.Jobs.Runner" version="8.6.16.1127" targetFramework="net45" />
  <package id="Telerik.DataAccess.Core" version="2016.2.822.1" targetFramework="net45" />
  <package id="Telerik.DataAccess.Fluent" version="2016.2.822.1" targetFramework="net45" developmentDependency="true" />
</packages>